<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <title>Document</title>
    <style>
    label{
        color: whitesmoke;
    }
    li a{
        text-decoration: none;
        color: whitesmoke;
    }
    form{
        display: block;
        width: fit-content;
        text-align: center;
        margin:0 auto;
    }
    h1{
        text-align: center;
        margin:auto;
    }
    h3{
        text-align: center;
        margin:auto;
    }
    h3 a {
        color: yellow;
    }
    </style>
</head>
<body>
    <h1>
        User Profile
    </h1>
    <p>
        After Login the user will reach here.
    </p>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</body>
</html>