<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>DIETITIAN SITE</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
   
    <div class="logo" id="homepage">
        <a href="/layout/index.html" style="text-decoration : none; color : #ffffff;"> 
            <img src="../images/logo.png">HEALTH & DIET
        </a>
    </div>

    <div class="topnav" id="mytopnav">

        <a   href="/layout/index.html">Αρχικη</a>
        <a href="/layout/services.html">Υπηρεσίες</a>
        <a class="active" href="/layout/articles.html">Άρθρα</a>
        <a href="/layout/diets.html">Δίαιτες</a>
        <a href="#idcontact">Επικοινωνία</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
        <a id="book" href="/layout/bookonline.html">BOOK ONLINE</a>
        <a href="/login">Login</a>
    </div>
    <!-- <div id="id01" class="modal">

        <form class="modal-content animate" action="/action_page.php" method="post">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close"
                    title="Close Modal">&times;</span>
                <img src="/images/img_avatar2.png" alt="Avatar" class="avatar">
            </div>

            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'"
                    class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
    </div> -->

    <main class="grid">

        <article>
            <h1>ΘΕΣΕ SMART ΣΤΟΧΟΥΣ</h1>
            <h3>Όταν θέτεις στόχους, ότι και αν αφορούν προσπάθησε να είναι SMART. Τα αρχικά της λέξης SMART χρησιμοποιούνται για να περιγράψουν τα στοιχεία που θα πρέπει να έχει κάθε στόχος που θέτουμε για να έχουμε περισσότερες πιθανότητες να τον πετύχουμε. Αναλύοντας το κάθε στοιχείο θα υπάρχει και ένα παράδειγμα που θα αφορά το στόχο για απώλεια βάρους.</h3>
            <section class="features4 cid-r7T2rqCIUB" id="features4-qm" data-rv-view="2657">

    

    

                <div class="container">
                    <div class="media-container-row">
                        <div class="counter-container media-content">
                            <div class="mb-5">
                                <h3 class="mb-3 mbr-fonts-style display-5"><strong>Specific (Συγκεκριμένος)</strong></h3>
                                <p class="mbr-fonts-style display-7">Όταν θέτεις ένα στόχο να είσαι συγκεκριμένος με το τι θες να πετύχεις. Ρώτα τον εαυτό σου:
            <br>1.	Ποιος? – Αναρωτήσου ποιος θα αναμειχθεί στην επίτευξη του στόχου σου? (Εσύ, ο πιστοποιημένος Διαιτολόγος/Διατροφολόγος, ο γυμναστής σου).
            <br>2.	Τι?- Σκέψου τι ακριβώς θέλεις να πετύχεις (Απώλεια σωματικού λίπους, ένταξη υγιεινών διατροφικών συνηθειών, αύξηση μυϊκής μάζας).
            <br>3.	Πότε?- Θα το αναλύσουμε περισσότερο στο Time-based αλλά αρκεί αν υπάρχει ένα χρονικό πλαίσιο. 
            <br>4.	Που? – Σε ποια μέρη θα πρέπει να πας για να πετύχεις το στόχο σου (Στο Διαιτολόγο/Διατροφολόγο, στο γυμναστήριο, στο super market για προμήθειες).
            <br>5.	Γιατί?- Ποιος είναι ο λόγος που θέλεις να πετύχεις αυτό το στόχο (Η υγεία σου, η ψυχολογία σου).&nbsp;<br></p>
                            </div>
                            <div class="mb-5">
                                <h3 class="mb-3 mbr-fonts-style display-5"><strong>Measurable (Μετρήσιμος)</strong></h3>
                                <p class="mbr-fonts-style display-7">Ποιες μετρήσεις πρόκειται να χρησιμοποιήσεις για να διαπιστώσεις εάν πετυχαίνεις το στόχο σου? Αυτό καθιστά έναν στόχο πιο απτό, διότι παρέχει έναν τρόπο μέτρησης της προόδου. (Σε ένα πιστοποιημένο Διαιτολόγο/Διατροφολόγο, η επίτευξη του στόχου μετριέται με τη λιπομέτρηση που μας δίνει μια πληθώρα μετρήσεων, αλλά και μέσω ενός ημερολογίου καταγραφής τροφίμων με το οποίο βλέπουμε αν έχει επιτευχθεί ο στόχος ένταξης μερικών τροφίμων).</p>
                            </div>
                            <div class="mb-5">
                                <h3 class="mb-3 mbr-fonts-style display-5"><strong>Achievable (Επιτεύξιμος)</strong></h3>
                                <p class="mbr-fonts-style display-7">Ένας στόχος θα πρέπει αν είναι επιτεύξιμος με βάση τις δυνατότητές μας αλλά και τη θέλησή μας. (Η διαδικασία απώλειας βάρους χρειάζεται προσωπική θέληση αλλά και μια οργάνωση στα γεύματά μας).</p>
                            </div>
                            
                        </div>
                        <div class="mbr-figure" style="width: 20%;">
                            <img src="assets/images/goal-260x260.png" alt="smart goals" title="smart goals" media-simple="true">
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="features4 cid-r7T3jdJf8G" id="features4-qo" data-rv-view="2660">
            
                
            
                
            
                <div class="container">
                    <div class="media-container-row">
                        <div class="counter-container media-content">
                            <div class="mb-5">
                                <h3 class="mb-3 mbr-fonts-style display-5"><strong>Realistic (Ρεαλιστικός)</strong></h3>
                                <p class="mbr-fonts-style display-7">Ένας ρεαλιστικός στόχος έχει περισσότερες πιθανότητες να επιτευχθεί. (Ένας στόχος απώλειας 3 κιλών σωματικού λίπους την εβδομάδα ή γυμναστικής 7 μερών/εβδομάδα δεν είναι τόσο ρεαλιστικός).<br></p>
                            </div>
                            <div class="mb-5">
                                <h4 class="counter">05.</h4>
                                <h3 class="mb-3 mbr-fonts-style display-5"><strong>Time-bound (Χρονικά δεσμευτικός)</strong></h3>
                                <p class="mbr-fonts-style display-7">Το να θέσεις μια ημερομηνία που θα ξεκινήσεις να προσπαθείς για το στόχο σου και ένα χρονικό πλαίσιο μέσα στο οποίο θα τον έχεις πετύχει είναι ιδιαίτερο σημαντικό. (Το πότε θα πας στο Διαιτολόγο σου, πότε θα πας να αγοράσεις τα τρόφιμα από του super market, πότε θα πας στο γυμναστήριο αλλά και μέσα σε πόσο χρονικό διάστημα θες να έχεις πετύχει την απώλεια σωματικού βάρους,  είναι ημερομηνίες που θα πρέπει να θέσεις από την αρχή).</p>
                            </div>
                            
                            
                        </div>
                        <div class="mbr-figure" style="width: 20%;">
                            <img src="assets/images/4db446c8592a6aaee76a5b0ebd2fcf85-650x533.jpg" alt="smart goals" title="smart goals" media-simple="true">
                        </div>
                    </div>
                </div>
            </section>
         
        </article>

        <aside>
            
            <section class="mbr-section article content1 cid-r7T3BzM6fS" id="content2-qp" data-rv-view="2663">
            
                 
            
                <div class="container">
                    <div class="media-container-row">
                        <div class="mbr-text col-12 col-md-8">
                            <p class="mbr-fonts-style block-text display-7"><strong>Άλλα παραδείγματα SMART στόχων είναι:
            </strong><br><br>•	Αν θέλεις να αυξηθεί η μυϊκή σου μάζα: «Θα πάω την Τρίτη στη Διαιτολόγο μου για να μου κάνει λιπομέτρηση και να μου βγάλει ένα εξατομικευμένο πρόγραμμα διατροφής, ώστε να αυξήσω τη μυϊκή μου μάζα μέχρι το καλοκαίρι κατά 6 κιλά. Θα ξεκινήσω την Τετάρτη γυμναστήριο και θα πηγαίνω 3 φορές την εβδομάδα όλο το χρόνο. Κάθε 15 μέρες θα κάνω ξανά λιπομέτρηση για να βλέπω την πρόοδό μου».
            <br><br>•	Αν θέλεις να τρως περισσότερα φρούτα την εβδομάδα: «Θα τρώω ένα φρούτο στο δεκατιανό μου τρεις φορές αυτή την εβδομάδα για τον επόμενο 1 μήνα».
            <br><br>•	Προσπαθείς να τρώς λιγότερο απ’ έξω : «Θα ετοιμάσω το γεύμα μου από το σπίτι και θα το πάρω μαζί μου στη δουλειά, δύο φορές αυτή την εβδομάδα αντί να κάθε μέρα απ’ έξω».
            <br>
            <br>•	Αν προσπαθείς να επιλέξεις πιο υγιεινά επιδόρπια: «Θα τρώω μαύρη σοκολάτα ή αποξηραμένα φρούτα αντί για μπισκότα σαν επιδόρπιο τρεις ημέρες αυτή την εβδομάδα».
            <br><br>•	Αν προσπαθείς να εντάξεις το τρέξιμο στη γυμναστική σου: «Θα ξεκινήσω να τρέχω 2 χιλιόμετρα 3 φορές την εβδομάδα για τις επόμενες 2 εβδομάδες και μετά να αυξήσω τα χιλιόμετρα στα 3 για τις επόμενες 2 εβδομάδες».&nbsp;<br></p>
                        </div>
                    </div>
                </div>
            </section>


        </aside>


    </main>
    
    <div class="container-footer">
        <div class="footer">
          <div class="address">
            <h2>Ιωάννα Λινού</h2>
            <p>Κωνσταντινουπόλεως 5 (4ος όροφος)</p>
            <p>Πάτρα, 12345</p>
            <p><strong>T:</strong> 2251123456 - 6598745215</p>
            <p><strong>E-mail:</strong> temp1@gmail.com</p><br>
          </div>
          <div class="information">
            <a href="">More information</a> | <a href="">Terms and conditions</a>
            <br>
            <form action="/action_page.php">
              <a class="contact" id="idcontact">Επικοινωνία</a>
              <br>
              <label for="fname">Όνομα</label>
              <input type="text" id="fname" name="firstname" placeholder="Your name.." required>
              <label for="lname">Επίθετο</label>
              <input type="text" id="lname" name="lastname" placeholder="Your last name.." required>
    
              <label for="subject">Θέμα</label>
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
              <input type="submit" value="Submit">
            </form>
          </div>
          <div class="socials">
            <a href="https://www.facebook.com/Health-and-Diet-1182540145277143/" class="fa fa-facebook"></a>
            <a href="https://twitter.com/lifestylesoln" class="fa fa-twitter"></a>
            <a href="https://www.instagram.com/calories.tips/?hl=el" class="fa fa-instagram"></a>
            <a href="https://gr.pinterest.com/todayshow/healthy-eating/" class="fa fa-pinterest"></a>
          </div>
        </div>
      </div>

</body>
<script src="/src/script.js"></script>


</html>