<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>DIETITIAN SITE</title>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>


  <div class="logo" id="homepage">
    <a href="/layout/index.html" style="text-decoration : none; color : #ffffff;"> 
        <img src="../images/logo.png">HEALTH & DIET
    </a>
  </div>

  <div class="topnav" id="mytopnav">

    <a class="active"  href="/layout/index.html">Αρχικη</a>
    <a href="/layout/services.html">Υπηρεσίες</a>
    <a href="/layout/articles.html">Άρθρα</a>
    <a href="/layout/diets.html">Δίαιτες</a>
    <a href="#idcontact">Επικοινωνία</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
    <a id="book" href="/layout/bookonline.html">BOOK ONLINE</a>
    <a href="/login">Login</a>
  </div>
  <!-- <div id="id01" class="modal">

    <form class="modal-content animate" action="/action_page.php" method="post">
      <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close"
          title="Close Modal">&times;</span>
        <img src="/images/img_avatar2.png" alt="Avatar" class="avatar">
      </div>

      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id01').style.display='none'"
          class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
  </div> -->

  <main class="grid">
    <article>
      <h1>
        Health & Diet
      </h1>
      <h2>

      </h2>
      <img src="/images/Registered-Dietitian.jpg" alt="placeholder" class="feature">
      <p>"Χρησιμοποιώντας τη σύγχρονη επιστημονική γνώση και τεχνολογική πρόοδο αποσκοπώ στην βελτίωση της υγείας,
        ευεξίας και συνολικής ποιότητας ζωής, προσφέροντας εξατομικευμένη διαιτητική θεραπεία."</p>
      <br>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <h1>Προφίλ</h1>
      <p>Κλινική διαιτολόγος-διατροφολόγος ειδικευμένη στην αντιμετώπιση ασθενειών σχετιζόμενων με τη διατροφή, με
        ιδιαίτερη εμπειρία στην παιδική παχυσαρκία και την διαιτητική μέριμνα ασθενών με καρκίνο, και σακχαρώδη διαβήτη.


        Σκοπός μου είναι η παροχή εξατομικευμένης, επιστημονικά έγκυρης διαιτητικής παρέμβασης για την επίτευξη και
        διατήρηση των διατροφικών στόχων, την υιοθέτηση υγιεινών διατροφικών συνηθειών και τη βελτίωση της υγείας και
        της ποιότητας ζωής.
      </p>
      <h2>Εκπαίδευση</h2>
      <p>2016-σήμερα: Υποψήφια Διδάκτωρ (PhD candidate) Πανεπιστημίου Αιγαίου</p>
      <p>2017-2018: Master Practitioner in Eating Disorders and Obesity, ΚΕΑΔΔ</p>
      <p>2013-2014: Μεταπτυχιακό τίτλο σπουδών MSc Nutrition στο King's College London της M. Βρετανίας</p>
      <p>2009-2013: Πτυχίο Επιστήμης Διατροφής και Διαιτολογίας στο Χαροκόπειο Πανεπιστήμιο</p>

      <h2>Εργασιακή εμπειρία</h2>
      <p>2015-σήμερα: Ιδιώτης&nbsp;Κλινική Διαιτολόγος-Διατροφολόγος&nbsp;</p>
      <p>2014-σήμερα: Αρθρογράφος της στήλης «ΔΙΑΙΤΟλογικά» στην εφημερίδα «ΕΜΠΡΟΣ»</p>
      <p>2015: Social marketing για το διαιτολογικό γραφείο SR Nutrition</p>
      <p>2014-2015: Ερευνήτρια στην καμπάνια «Children's Food Campaign»</p>
      <p>2014-2015: Διατροφολόγος για την εκπαίδευση παιδιών και γονέων πάνω στην παιδική παχυσαρκία και διατροφή στην
        εταιρία MoreLife UK Ltd.</p>
      <p>2012-2013: Πρακτική άσκηση στον Πανελλήνιο Σύλλογο Διαιτολόγων –Διατροφολόγων</p>
      <p>2012-2013: Πρακτική άσκηση στο 401 Γενικό Στρατιωτικό Νοσοκομείο Αθηνών</p>
      <p>2012: Πρακτική άσκηση στην Ένωση Αγροτικών Συνεταιρισμών Λέσβου</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>

    </article>

    <aside>
      <h2>Επαγγελματικές Διαπιστεύσεις</h2>
      <ul>
        <li>Μέλος του Πανελλήνιου Συλλόγου<br>Διαιτολόγων - Διατροφολόγων</li>
        <li>Μέλος της Ένωσης για τη Διατροφή του Ηνωμένου Βασιλείου (Association for Nutrition)</li>
        <li>Μέλος της Κοινότητας Διατροφής του Ηνωμένου Βασιλείου (Nutrition Society)</li>
        <li>Άδεια ασκήσεως εππαγγέλματος του<br>Διαιτολόγου - Διατροφολόγου στην Ελλάδα</li>
        <li>Εγγεγραμένη Διατροφολόγος του Ηνωμένου Βασιλείου (Registered Associate Nutritionist)</li>
      </ul>
      
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="/images/Registered-Dietitian.jpg" alt="Ιωάννα Λινού" style="width:100%">
            <div class="container">
              <h2>Ιωάννα Λινού</h2>
              <p class="title">Διαιτολόγος-Διατροφολόγος</p>
              <p>Ξεκινήστε απο σήμερα!</p>
              <p>janedoe@gmail.com</p>
              <a href="#idcontact"><button class="button">Επικοινωνία</button></a>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="/images/istockphoto-675179390-612x612.jpg" alt="Μιχάλης Παπασταθόπουλος" style="width:100%">
            <div class="container">
              <h2>Μιχάλης Παπασταθόπουλος</h2>
              <p class="title">Trainer</p>
              <p>Προγράμματα γυμναστικής και άθλησης.</p>
              <p>temp2@gmail.com</p>
              <a href="#idcontact"><button class="button">Επικοινωνία</button></a>
            </div>
          </div>
        </div>

       
      </div>

    </aside>


  </main>
  <div class="container-footer">
    <div class="footer">
      <div class="address">
        <h2>Ιωάννα Λινού</h2>
        <p>Κωνσταντινουπόλεως 5 (4ος όροφος)</p>
        <p>Πάτρα, 12345</p>
        <p><strong>T:</strong> 2251123456 - 6598745215</p>
        <p><strong>E-mail:</strong> temp1@gmail.com</p><br>
      </div>
      <div class="information">
        <a href="">More information</a> | <a href="">Terms and conditions</a>
        <br>
        <form action="/action_page.php">
          <a class="contact" id="idcontact">Επικοινωνία</a>
          <br>
          <label for="fname">Όνομα</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name.." required>
          <label for="lname">Επίθετο</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name.." required>

          <label for="subject">Θέμα</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
          <input type="submit" value="Submit">
        </form>
      </div>
      <div class="socials">
        <a href="https://www.facebook.com/Health-and-Diet-1182540145277143/" class="fa fa-facebook"></a>
        <a href="https://twitter.com/lifestylesoln" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com/calories.tips/?hl=el" class="fa fa-instagram"></a>
        <a href="https://gr.pinterest.com/todayshow/healthy-eating/" class="fa fa-pinterest"></a>
      </div>
    </div>
  </div>
</body>
<script src="/src/script.js"></script>


</html>