<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>DIETITIAN SITE</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    
    <div class="logo" id="homepage">
        <a href="/layout/index.html" style="text-decoration : none; color : #ffffff;"> 
            <img src="../images/logo.png">HEALTH & DIET
        </a>
    </div>

    <div class="topnav" id="mytopnav">

        <a   href="/layout/index.html">Αρχικη</a>
    <a class="active" href="/layout/services.html">Υπηρεσίες</a>
    <a href="/layout/articles.html">Άρθρα</a>
    <a href="/layout/diets.html">Δίαιτες</a>
    <a href="#idcontact">Επικοινωνία</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
    <a id="book" href="/layout/bookonline.html">BOOK ONLINE</a>
    <a href="/login">Login</a>
    </div>

    <!-- MODAL <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->


        <!-- onclick="document.getElementById('id01').style.display='block'" style="width:auto;" -->



    <!-- <div id="id01" class="modal">

        <form class="modal-content animate" action="/action_page.php" method="post">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close"
                    title="Close Modal">&times;</span>
                <img src="/images/img_avatar2.png" alt="Avatar" class="avatar">
            </div>

            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'"
                    class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
    </div> -->




    <main>
        <div class="grid">
            <article>
                <h1>
                    Health & Diet
                </h1>
                <h2>Απώλεια σωματικού βάρους</h2>
                <p>Η My NutriPlan σου προσφέρει ένας τρόπο απώλειας βάρους
                    <strong>χωρίς στερήσεις</strong> με στόχο:<br><br>- την απώλεια σωματικού λίπους, <br>- την ενεργοποίηση
                    του μεταβολισμού σου <br>- την συνολική ευεξία σου και <br>- την αλλαγή των διατροφικών σου συνηθειών
                    εφόρου ζωής. <br>
                    <br>Μεσω της λήψης διατρο-ιατρικού ιστορικού, σωματομετρήσεων και τη μέθοδο της βιο-ηλεκτρικής εμπέδησης
                    (ΒΙΑ), δημιουργούμε ένα <strong>ΑΚΡΩΣ</strong> εξατομικευμένο πρόγραμμα διατροφής με βάση:<br><br>- τις
                    ανάγκες, <br>- τους στόχους, <br>- τις προτιμήσεις και <br>- τον τρόπο ζωής σου. <br>
                    <br>Η διατροφική εκπαίδευση είναι αυτή που θα σε κάνει να διατηρήσεις το χαμένο βάρος, <br>ακόμη και
                    μετά το πέρας των συνεδριών.&nbsp;<br>Δες την προετοιμασία που θα πρέπει να ακολουθήσεις για <br>την
                    πρώτη συνεδρία μαζί μου<a href="/layout/bookonline.html" class="">εδώ!</a>
                    
                </p>
                <h2>e-diet</h2>
                <p>Για όσους βρίσκονται μακριά από το γραφείο μου, τόσο σε Ελλάδα
                    όσο και στο εξωτερικό, στη My ΝutriPlan σας παρέχουμε τη δυνατότητα διατροφικής υποστήριξης από
                    απόσταση, με τη χρήση τεχνολογικών μέσων, όπως τη χρήση Skype, facebook, τηλεφώνου και e-mail.
                    <br>Ελέγχετε το σωματικό σας βάρος εβδομαδιαίως σε δική σας ζυγαριά. Σας υποδεικνύουμε και επιπλέον
                    μετρήσεις με μεζούρα και σας εκπαιδεύουμε πως θα τις κάνετε. <br>Λαμβάνουμε το ιατρικό και διαιτολογικό
                    ιστορικό σας&nbsp;<br>μέσω Skype, facebook, τηλεφώνου ή e-mail&nbsp;και σας δημιουργήσουμε ένα
                    εξατομικευμένο πρόγραμμα διατροφής.
                    <br>Οι διαδικτυακές συνεδρίες καθορίζονται ανάλογα με τις ανάγκες και τους στόχους που θέτουμε απο
                    κοινού.&nbsp;<br>Επικοινωνείτε ανά εβδομάδα ή 15μερο μέσω Skype, facebook, τηλεφώνου ή e-mail για να μας
                    ενημερώνετε με την πορεία σας και τις απορίες σας και σας φτιάχνουμε το επόμενο πρόγραμμα διατροφής
                    σας.&nbsp;<br><br>Τα προγράμματα Διατροφής
                    είναι εξατομικευμένα με βάση:<br>1. Την κατάσταση της υγείας σας
                    <br>2. Την Ηλικία σας και τις προσωπικές σας σωματομετρήσεις (πχ βάρος, ύψος, περιφέρειες)
                    <br>3. Τον τρόπο Ζωής σας και τους εργασιακούς σας ρυθμούς
                    <br>4. Τη φυσική σας Δραστηριότητα
                    <br>5. Τις προτιμήσεις σας και τις αποστροφές σας σε τροφές
                    <br>6. Τις εξόδους σας και την κοινωνική σας ζωή
                    <br>7. Τις τυχόν αλλεργίες / δυσανεξίες<br>8. Τους στόχους σας
                </p>
            </article>

            <aside>
                <h2>Παιδική Διατροφή</h2>
                <p>Τα παιδιά χρήζουν ιδιαίτερης διατροφικής φροντίδας, καθώς οι
                    βάσεις για ένα υγιές και δυνατό σώμα χτίζονται σε αυτήν την ευαίσθητη ηλικία.
                    <br>Τα παιδιά θα πρέπει να λαμβάνουν τα απαραίτητα θρεπτικά συστατικά προκειμένου να αναπτυχθεί το σώμα
                    και το μυαλό τους αλλά και να αποφεύγουν τη συχνή κατανάλωση ορισμένων τροφίμων ώστε να προληφθουν
                    ορισμένες ασθένειες.<br>Καθώς τα επίπεδα παιδικής παχυσαρκίας ολοένα και αυξάνονται, θα πρέπει να
                    δώσουμε ιδιαίτερη ΠΡΟΣΟΧΗ στη διατροφή του παιδιού προκειμένου να υιοθετήσει έναν ισορροπημένο τρόπο
                    διατροφής εφόρου ζωής.&nbsp;<br>Οι συνεδρίες γίνονται μαζί με τα παιδιά και τους γονείς και το παιδί
                    συμμετέχει ενεργά στη λήψη αποφάσεων για τη διατροφή του.&nbsp;<br>Μέσω συμβουλευτικής το παιδί
                    αντιλαμβάνεται την αξία της ισορροπημένης διατροφής και βελτιώνει τις διατροφικές του συνήθειες.
                </p>
                <h2>Αθλητική διατροφή</h2>
                <p>Ότι είδους φυσική δραστηριότητα και να κάνεις, από απλή
                    προπόνηση στο γυμναστήριο και pilates μέχρι προπονήσεις αγωνιστικού επιπέδου σε κάποιο άθλημα, ο
                    οργανισμός σου έχει αυξημένες ανάγκες. <br>Η απόδοση σου στις προπονήσεις, η αποκατάσταση από την
                    άσκηση, το σωματικό βάρος και η σύσταση του σώματος σου επηρεάζεται από το είδος, την ποσότητα, αλλα και
                    την ώρα κατανάλωσης της τροφής. <br>Για την επίτευξη ενός δυνατού αθλητικού σώματος, κατα 70% συμβάλλει
                    η διατροφή και κατα 30% η άθληση. <br>Στη My ΝutriPlan συνεργαζόμαστε με προπονητές, personal trainers
                    και γυμναστήρια για να έχεις το καλύτερο δυνατό αποτέλεσμα!<br>Επιπλέον στηρίζουμε διατροφικά αθλητές
                    πριν έναν σημαντικό αγώνα τηρώντας το πρωτόκολλο της φόρτισης υδ/κων αλλά και μετά για την καλύτερη και
                    πιο άμεση επαναφορά.
                </p>
            </aside>

        </div>

        <button id="bookbtn">ΚΛΕΙΣΕ ΡΑΝΤΕΒΟΥ</button>

        <div class="section section-calculate extended-section">

            <div class="section-content grid-3">
            <div class="section-title">
                <h3>Υπολογίστε</h3>
            </div>
            <div class="section-block-content clearfix">
            <div class="section-block section-block-1">
            
            <div class="calculate-service calculate-service-1">
            <div class="image"><img src="/images/services/1_0.png" width="188" height="189" alt="" /></div>
            <div class="text">
            <h2><a href="#bmi" class="bmiBtn">Δείκτης Μάζας σώματος</a></h2>
            </div>
            <div class="preload"></div>
            </div>    </div>
            <div class="section-block section-block-2">
                
            <div class="calculate-service calculate-service-2">
            <div class="image"><img src="/images/services/2_0.png" width="188" height="189" alt="" /></div>
            <div class="text">
            <h2><a href="" class="metabolism">Βασικός Μεταβολισμός</a></h2>
            </div>
            <div class="preload"></div>
            </div>    </div>
            <div class="section-block section-block-3">
                
            <div class="calculate-service calculate-service-3">
            <div class="image"><img src="/images/services/3_0.png" width="188" height="189" alt="" /></div>
            <div class="text">
            <h2><a href="" class="idweight">Ιδανικό Βάρος</a></h2>
            </div>
            <div class="preload"></div>
            </div>    </div>
            <div class="section-block section-block-4">
                
            <div class="calculate-service calculate-service-4">
            <div class="image"><img src="/images/services/4_0.png" width="188" height="189" alt="" /></div>
            <div class="text">
            <h2><a href="" class="cals">Θερμιδομετρητής</a></h2>
            </div>
            <div class="preload"></div>
            </div></div>
            </div>
            </div>
            <div class="calculate-box"></div>
            </div>
    
            <div id="bmi" class="bmi">
                <div class="yz-widget" data-calculator-type="bmi" data-language="en" data-unit-system="metric" data-background-color="#EEEEEE" data-text-color="#212121" data-primary-color="#03A9F4" data-alternate-background-color="#FFFFFF" data-alternate-text-color="#FFFFFF" data-secondary-color="#FFC107"><span class="yz-copyright">Powered by <a href="https://www.yazio.com/en/bmi-calculator">YAZIO</a></span></div>
                <script src="https://widget.yazio.com/calculator.js" async></script>
            </div>

    </main>
    <div class="container-footer">
        <div class="footer">
          <div class="address">
            <h2>Ιωάννα Λινού</h2>
            <p>Κωνσταντινουπόλεως 5 (4ος όροφος)</p>
            <p>Πάτρα, 12345</p>
            <p><strong>T:</strong> 2251123456 - 6598745215</p>
            <p><strong>E-mail:</strong> temp1@gmail.com</p><br>
          </div>
          <div class="information">
            <a href="">More information</a> | <a href="">Terms and conditions</a>
            <br>
            <form action="/action_page.php">
              <a class="contact" id="idcontact">Επικοινωνία</a>
              <br>
              <label for="fname">Όνομα</label>
              <input type="text" id="fname" name="firstname" placeholder="Your name.." required>
              <label for="lname">Επίθετο</label>
              <input type="text" id="lname" name="lastname" placeholder="Your last name.." required>
    
              <label for="subject">Θέμα</label>
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
              <input type="submit" value="Submit">
            </form>
          </div>
          <div class="socials">
            <a href="https://www.facebook.com/Health-and-Diet-1182540145277143/" class="fa fa-facebook"></a>
            <a href="https://twitter.com/lifestylesoln" class="fa fa-twitter"></a>
            <a href="https://www.instagram.com/calories.tips/?hl=el" class="fa fa-instagram"></a>
            <a href="https://gr.pinterest.com/todayshow/healthy-eating/" class="fa fa-pinterest"></a>
          </div>
        </div>
      </div>

</body>

<script src="/src/script.js"></script>
<script>
    document.getElementById("bookbtn").onclick = function () {
    location.replace("/layout/bookonline.html");
};
</script>


</html>